@import url("https://fonts.googleapis.com/css?family=Ubuntu");

.vertnav {
  background-color: rgb(0, 126, 227);
  height: 100%;
  width: 200px;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  float: left;
  margin-right: 20px;
}

.vertnav a {
  color: white;
  background-color: rgb(118, 133, 145);
  padding: 12px;
  display: block;
  text-decoration: none;
  font-size: 17px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.vertnav a:hover {
  background-color: rgb(237, 238, 241);
  color: black;
}

.top_bar {
  background-color: rgb(0, 126, 227);
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  color: white;
  padding-left: 30px;
  padding-top: 5px;
  display: inline;
}

#box {
  padding: 0px;
  margin: 6px;
}

.log_out_button {
  float: right;
  background-color: rgb(118, 133, 145);
  text-decoration: none;
  color: white;
  border: 2px solid rgb(118, 133, 145);
}

.log_out_button:hover {
  background-color: rgb(237, 238, 241);
  color: black;
  border: 2px solid rgb(237, 238, 241);
}

body {
  background-color: rgb(237, 238, 241);
  color: black;
  margin: 0;
  height: 100%;
  font-family: Ubuntu;
}

* {
  margin: 0;
}

html {
  margin: 0;
  height: 100%;
}
