
.vertnav {
  background-color: rgb(0, 126, 227);
  height: 100%;
  width: 200px;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  float: left;
  margin-right: 20px;
}

.vertnav a {
  color: white;
  background-color: rgb(118, 133, 145);
  padding: 12px;
  display: block;
  text-decoration: none;
  font-size: 17px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.vertnav a:hover {
  background-color: rgb(237, 238, 241);
  color: black;
}

body {
  background-color: rgb(237, 238, 241);
  color: black;
  margin: 0;
  height: 100%;
}

* {
  margin: 0;
}

html {
  margin: 0;
  height: 100%;
}
