@import url("https://fonts.googleapis.com/css?family=Ubuntu");

.center_form {
  left: 37.5%;
  width: 25%;
  display: block;
  overflow: auto;
  position: relative;
}

body {
  font-family: Ubuntu;
  margin-top: 2%;
}

input {
  margin: 6px;
  padding: 6px;
  float: right;
}
