<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title></title>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="vertnav">
      <a class="active" href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('savings') }}">Savings</a>
      <a href="{{ url_for('credit') }}">Credit</a>
      <a href="{{ url_for('transfer') }}">Money Transfer</a>
      <a href="{{ url_for('personal') }}">Personal Info</a>
      <a href="{{ url_for('contact') }}">Contact Us</a>
    </div>
  {% block body %}
  {% endblock %}
  </body>
</html>
