<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_styles.css') }}">
    <title>{{ session['page'] }}</title>
    {% block head %}
    {% endblock %}
    <style>
      {{ session['page'] }} {
        background-color: rgb(237, 238, 241) !important;
        color: black !important;
      }
    </style>
  </head>
  <body>
    <div class="vertnav">
      <a class="home" href="{{ url_for('home') }}">Home</a>
      <a class="savings" href="{{ url_for('savings') }}">Savings</a>
      <a class="credit" href="{{ url_for('credit') }}">Credit</a>
      <a class="transfer" href="{{ url_for('transfer') }}">Money Transfer</a>
      <a class="personal" href="{{ url_for('personal') }}">Personal Info</a>
      <a class="contact" href="{{ url_for('contact') }}">Contact Us</a>
    </div>
  {% block body %}
  {% endblock %}
  </body>
</html>
